body {
	background-image: url("human2.jpg.jpg");
	background-size: cover;
	
}
a{
	background-color: black;
	color: grey;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	padding: 10px 10px;
}

h1{
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 50px;
	align-items: center;
	justify-content: center;
}
pre{
	font-size: 30px;
	justify-content: flex-start;
	font-family: 'Josefin Sans', sans-serif;

}
button{
	font-family: 'Josefin Sans', sans-serif;
	color: grey;
	background-color: white;
	border: white;
	font-size: 16px;
	padding: 10px 28px;
	border-radius: 12px;
	width: 50%;



}
button:hover{
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
