body {
	background-image: url("human2.jpg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 50px;
	color: white;

}
p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	color: white;
}
pre{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	color: white;
}
button{
	display: flex;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
	color: orange;
	background-color: black;
	border: black;
	font-size: 16px;
	padding: 10px 28px;
	border-radius: 12px;
	width: 50%;



}
button:hover{
	 box-shadow: 0 12px 16px 0 rgba(255,165,0,0.24), 0 17px 50px 0 rgba(255,165,0,0.19);